################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NSaga/obj
/PolicyBusiness/obj
/PolicyEntities/obj
/PolicyManagementSaga/obj
/AzureFunctions/Properties/PublishProfiles
/NSaga/bin
/PolicyBusiness/bin
/PolicyEntities/bin
/PolicyManagementSaga/bin
